<%- include ('partials/_header') %>




<div class="container">
    <div class="row">

        <!-- Form -->
        <form  id="formTimerCount" action="/saveTime" method="POST" style="margin: 0 auto; padding: 5rem 0;">
            <div class="form-group">
                <p id="output" style=" font-size: 10rem; text-align: center;">00.00</p>
                <!-- <input id="output" type="text" readonly name="time" value="00.00" style="border:none; font-size: 5rem;"> -->
            </div>
        </form>
       
    </div>
    <div id="sectionTwo">
        <div class="row" style="margin-top: 2rem;">
            <p style="text-align: center; font-size: 1.5rem; width: 100%;">Spacebar to Start/Stop</p>
        </div>
    </div>
   
</div>



<!-- ############### -->
<!-- ## SCRIPTS ## -->
<!-- ############### -->
<script>
    var time = 0;
    var running = false;
    var ready = true; //To avoid start timer when stop by pressing spacebar


    $("#formTimerCount").submit(function(e){

        e.preventDefault();
        var data = time;
        
        $.ajax({
            type: 'POST',
            url: '/saveTime',
            data: {'time': data},
            dataType: 'text',
            success:function(){
                console.log(time);
            } 
        });
    });

    document.body.onkeyup = function(e){

        if(ready && e.keyCode == 32){
            start();
        }else{
            ready = true;
        }
    }

    document.body.onkeypress = function(e){

        if(running && e.keyCode == 32){
            $('#formTimerCount').submit();
            ready = false;
            reset();
        }
    }

    function start(){
        if(!running){
            document.getElementById('sectionTwo').hidden = true;
            running = true;
            increment();
        }
    }

    function reset(){
        running = false;
        document.getElementById('sectionTwo').hidden = false;
    }
   
    function convertTimeToString(timeToConvert){
        var mins = Math.floor(time/10/60);
        var secs = Math.floor(timeToConvert/10 % 60);
        var hours = Math.floor(timeToConvert/10/60/60);
        var tenths = timeToConvert % 10;
        if(mins < 10){
            mins = "0" + mins;
        }
        if(secs < 10){
            secs = "0" + secs;
        }

        return (mins > 0) ? mins + ":" + secs + ":" + tenths + "0" : secs + "." + tenths + "0";
    }

    function increment(){
        if(running){
            setTimeout(function(){
                time++;
                var timeString = convertTimeToString(time);
                document.getElementById("output").innerText =  timeString;
                increment();
            },100)
        }else{
            time = 0;
            document.getElementById("output").innerText = "00.00";
        }
    }

    function guardar(){

        console.log(time);
    }

</script>


<%- include ('partials/_footer') %>